*{
  margin: 0;
  padding: 0;
}
html{
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
}
/* sginup */
.signup-section{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDqbK0gs8CYrK1KD3y2NBHDRHb6torAtKdbw&s");
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}
.contener{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdCqC0EX4cJ1gm2a_QCDx9RCeLcge1zOLIDgB5WEIwuO1VjdESrJc3xN4ZSp9hWR6-7oQ&usqp=CAU");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 550px;
  margin: 150px 400px;
  display: flex;
  justify-content: center;
  
  text-align: center;
  box-shadow: rgba(1, 168, 113, 0.9);
  border-radius: 10px;
}
.header{
  display:grid;
  grid-template-rows: auto;
  /* justify-content: space-evenly; */
  text-align: center;
  margin-top: 60px;
}
.header .btn1{
  margin-top: 20px;
}
.input_filed{
  margin: 50px 0px 0 50px;

}
.input_filed input{
  margin-top: 30px;
  height: 35px;
  width: 200px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid gray;
  outline: 0;
  color: black;
  margin-left: 5px;
}
#btn{
  height: auto;
  width: 150px;
  font-size: 15px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #ee9b1f;
  color: #ffffff;
  
}
.socials i{
  margin-left: 10px;
  font-size: 30px;
}
.fab {
  color: #366d92;
}
#signup-with{
  color: #ee9b1f;
  font-size: 20px;
  font-weight: 600;
}
#link-btn{
  height: 35px;
  font-size: 15px;
  text-decoration: none;
}
/* login */
.login_contener{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdCqC0EX4cJ1gm2a_QCDx9RCeLcge1zOLIDgB5WEIwuO1VjdESrJc3xN4ZSp9hWR6-7oQ&usqp=CAU");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 150px;
  height: 400px;
  width: 500px;
  margin-left: 400px;
  display: flex;
  justify-content: center;
  /* border: 2px solid rgb(64, 131, 109); */
  box-shadow: rgba(1, 168, 113, 0.9);
  border-radius: 10px;

}

.login-section{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDqbK0gs8CYrK1KD3y2NBHDRHb6torAtKdbw&s");
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}

/* navbar */
.Main_Navbar_div{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}
.Main_navbar ul li img {
  height: 70px;
  width: 120px;
  margin-left: 40px;
  margin-top: 5px;
  background-color: rgb(18, 110, 80);
}
.Main_navbar{
  height: 80px;
  width: 100%;
  border-radius: 5px;
}
.Main_navbar ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.Main_navbar ul li ul li{
  text-decoration: none;
  margin: 18px;
  /* color:#f58fb1 ; */
  color: rgb(18, 110, 80);
  font-size: 20px;
}
.nav_componets li #link{
  text-decoration: none;
  color: rgb(18, 110, 80);
  font-weight: 600;
}
.Main_navbar ul li ul li #link{
  /* color: rgb(18, 110, 80); */
  color: rgb(20, 93, 69);
  text-decoration: none;
  font-weight: 600;
}
.fa-solid{
  position: relative;
}
/* mobile navbar */
.shownav{
  width: 150px;
  background-color:green;
  height: 450px;
  position: absolute;
  top: 70px;
  left: 0px;
  border: 3px solid rgba(216, 179, 14 , 0.3);
  z-index:1000;
  display: none;
}
.shownav ul{
  display: block;
}
.shownav ul li #link{
  color:rgb(216, 179, 14);
  font-size: 16px;
  text-transform: capitalize;
  padding: 10px 20px;
  font-weight: 400;
  transition: all .10s ease;
}
.shownav ul li #link:hover{
  color: rgb(244, 244, 247); 
}
.shownav ul li{
  margin-bottom: 10px;
  padding-top: 20px;
}

/* contact */
.section-img{
  width: 100%;
  height: 400px;
  background-image: url("https://www.simpleskincare.in/cdn/shop/files/Glass_Skin_What_Is_It_And_How_To_Achieve_It.jpg?v=1693381240");

}
.section-img{
  margin-top: 100px;
}
.contact-option{
  border: none;
  color:rgb(18, 110, 80);
}
.contact-option option{
  border: none;
}
#main-div{
  text-align: center;
}

.appointment-form-container {
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  /* margin-left: 400px; */
  font-family: Arial, sans-serif;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

#hedding-appointmen {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea,
.summit-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  height: 35px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color:#366d92;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.summit-button {
  background-color: #366d92;
  color: #ffffff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.summit-button:hover {
  background-color: #366d92;
}

textarea {
  resize: none;
}
.update-section{
  margin-top: 100px;
  display: flex;
 justify-content: space-evenly;
}
.h3-detail{
  color: #ee9b1f;
  font-family: inherit;
}
.detail-article{
  align-items: center; 
}
.detail-article div{
  font-size: 25px;
  font-weight: 500;
}
.detail-div {
  margin-top: 80px;
}
/* dr-vedio-section */
.dr-vedio-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0 80px;
  height: 400px;
  background: linear-gradient(to left,#e7bfe5,#db9dd8,#bb6cc7,#846585);
}
.iframe-div{
  border: 1px solid rgba(84, 131, 115, 0.4);
  box-shadow: 0px 0px 10px rgb(49, 114, 119);
}

.dr-hedding{
  color: #555050;
  height: auto;
  width: 400px;
}
.dr-button{
  width: 200px;
  color: #ffffff;
  background-color: #ee9b1f;
}
.dr-pera{
  height: auto;
  width: 400px;
}
/* Home section */
.home{
  width: 100%;
  height: 85vh;
  margin-top: 80px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  animation: image 10s infinite ease-in;
  
}
@keyframes image {
  0%{
  background-color: transparent;
  background-image: url(https://www.skinlab.in/wp-content/uploads/2022/01/banner-slider.jpg.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
  left: 0px;
  opacity: 1;
      
  }
  50%{
background-color: transparent;
background-image: url('/public/image2.jpg');
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
top: 0px;
left: 0px;
opacity: 1; 
}
  100%{
  background-color: transparent;
  background-image: url('/public/image1.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
  left: 0px;
  opacity: 1;
      
  }
}
.home .detail span{
  font-size:35px;
  font-weight: 700;
  padding: 0.3rem 2rem;
  color: rgb(18, 110, 80);
}
.home .detail h1{
  font-size: 3rem;
  margin: 1rem 2rem;
  color: #5c5858;
}
.home .detail  div p{
  color: #2e2d2d;
  font-size: 16px;
  font-weight: 500;
  margin-left: 2rem;
  height:10px;
  width: 650px;
}
.home .detail .btn{
  display: inline-block;
  padding: 0.5rem 2rem;
  background-color: #ee9b1f;
  color:  white;
  margin: 1rem 2rem;
  text-align: center;
  width: 150px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  z-index: 100;
  
}
.home .detail .btn::before{
  position: absolute;
  content: '';
  width: 0%;
  height: 100%;
  background-color:rgb(25, 78, 60);
  color:white;
  left: 0;
  top: 0;
  transition: .5s;
  z-index: -10;
  border-radius: 5px;
}
.home .detail .btn:hover::before{
  width:100% ;
  color:white;
}
.teatment-at h1{
font-size: 35px;
text-align: center;
margin: 50px 0 50px 0;
}
.treatment-pic{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 5px;
}
.treatment-pic h2{
  color: #555050;
  font-size: 26px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.treatment-pic div img{
  height: 280px;
  width: 250px;
}

/* feadback section */
.celebrities-feadback-section{
  width: 80%;
  height: 400px;
  margin: auto;
  margin-top: 100px;
  box-shadow: 0px 0px 1px rebeccapurple;
  position: relative;
}
.feadback-article{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.left-btn{
  position: absolute;
  top:40%;
  left: 5pxb;
}
.right-btn{
  position: absolute;
  top:40%;
  right: 5px;
}
.feadback-article div img{
  border-radius: 50%;
}
.feadback-article div p{
  height: 100px;
  width: 500px;
}
/* title section */
.title-section{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #eae8e8;
  margin-top: 50px;
  
}
.title-section article h3{
  height: 100px;
  width: 300px;
}
.title-section article{
  height: 400px;
  width: 370px;
  margin-top: 50px;

}
.title-section div img{
  width: 350px;
}


/* about */
.about-firest{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 700px;
  width: 100%;
  background-color: #ee9b1f;

}
.about-firest-image{
  margin-top: 50px;
}
span{
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}
#dr-pera{
  color: #fdf9fb;
  height: 15px;
}

#dr-name,#dr-details{
color: #fdf9fb;
}

/* GotoTop bar */
.go-to-section{
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 5px;
}
.top-btn i{
  font-size: 22px;
  
}
.top-btn{
  align-content: center;
  text-align: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #ee9b1f;
  color: #ffffff;
  box-shadow: 0 0 2px rgba(99, 176, 150, 0.4);
  position: sticky;
  right: 0;
  bottom: 5rem;
  z-index: 999;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  cursor: pointer;

}
.top-btn:hover{
  background-color: rgb(25, 78, 60);
  color: #ffffff;
}

@media screen and (max-width:768px){
  .home .detail span{
    font-size:25px;
  }
  .home .detail h1{
    font-size: 2rem;
  }
  .teatment-at h1{
    font-size: 30px;
    }
    .treatment-pic{
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 5px;
    }
    .treatment-pic h2{
      font-size: 20px;
    }
    .treatment-pic div img{
      height: 250px;
      width: 220px;
    }
    .title-section{
      display: grid;
      grid-template-columns: auto auto;
      gap: 10px;
      margin-top: 20px;  
    }
    .title-section article h3{
      height: 100px;
      width: 300px;
    }
    .title-section article{
      height: 400px;
      width: 300px;
      margin-top: 10px;
    }
    .title-section div img{
      width: 250px;
    }
    .celebrities-feadback-section{
      width: 100%;
      height: 400px;
      margin-top: 100px;
    }
    .feadback-article{
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    .left-btn{
      display: none;
    }
    .right-btn{
      display: none;
    }
    .feadback-article div img{
      border-radius: 50%;
    }
    .feadback-article div p{
      height: 200px;
      width: 300px;
    }
    .footer{
      box-shadow: 0 0 30px rgba(1, 168, 113, 0.4);
      width: 100%;
    }
    .footer_hedding h1{
       padding: 15px 0 0px 0;
       font-size: 20px;
    }
    .main_div{
       display: grid;
       grid-template-columns: auto auto auto auto auto;
       /* gap: 5px; */
       justify-content: space-between;
       width: 100%;
    }
    #hedding{
      font-size: 12px;
    }
    
    .main_div ul li #link{
       color: rgb(32, 32, 32);
       margin-top: 5px;
       text-decoration: none;
    }
    .main_div ul li{
       margin-top: 10px;
       list-style-type: none;
    }
    .social_icon ul{
       display: block;
       flex-direction: column;
    }
    .top-btn{
      position: sticky;
      right: 40px;
      bottom: 5rem;
      z-index: 999;
    }
}

/* media quiry */
@media screen and (max-width:425px){
  .home{
    width: 100%;
    height: 65vh;
    margin-top: 80px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }  
  .home .detail  div p{
    color: #2e2d2d;
    font-size: 12px;
    font-weight: 500;
    margin-left: 2rem;
    height:15px;
    width: 650px;
  }

  .home .detail span{
    font-size:15px;
  }
  .home .detail h1{
    font-size: 1.5rem;
  }
  .teatment-at h1{
    font-size: 20px;
    }
    .treatment-pic{
      display: grid;
      grid-template-columns: auto;
      gap: 20px;
      margin-left: 60px;
    }
    .treatment-pic h2{
      font-size: 20px;
    }
    .treatment-pic div img{
      height: 300px;
      width: 300px;
    }
    .title-section{
      display: grid;
      grid-template-columns: auto;
      gap: 10px;
      margin-top: 20px;  
    }
    .title-section article h3{
      height: 100px;
      width: 300px;
    }
    .title-section article{
      height: 400px;
      width: 300px;
      margin-top: 10px;
    }
    .title-section div img{
      width: 250px;
    }
    .celebrities-feadback-section{
      width: 100%;
      height: 80vh;
      margin-top: 50px;
    }
    .feadback-article{
      width: 100%;
      height: 100%;
      position: absolute;
      display: block;
      justify-content: space-evenly;
      align-items: center;
      margin-left: 50px;
    }
    .left-btn{
      display: none;
    }
    .right-btn{
      display: none;
    }
    .feadback-article div img{
      border-radius: 50%;
    }
    .feadback-article div p{
      height: 200px;
      width: 300px;
    }
    .footer{
      box-shadow: 0 0 30px rgba(1, 168, 113, 0.4);
      width: 100%;
      height: auto;
    }
    .footer_hedding h1{
       padding: 15px 0 0px 0;
       font-size: 20px;
    }
    .main_div{
       display: grid;
       grid-template-columns: auto auto auto;
       /* gap: 5px; */
       justify-content: space-between;
       width: 100%;
    }
    #hedding{
      font-size: 12px;
    }
    
    .main_div ul li #link{
       color: rgb(32, 32, 32);
       margin-top: 5px;
       text-decoration: none;
    }
    .main_div ul li{
       margin-top: 10px;
       list-style-type: none;
    }
    .social_icon ul{
       display: block;
       flex-direction: column;
    }
    .top-btn{
      position: sticky;
      right: 40px;
      bottom: 5rem;
      z-index: 999;
    }
}

/* footer */
.footer{
  background-color:#fdf9fb;
  box-shadow: 0 0 30px rgba(1, 168, 113, 0.4);
  width: 100%;
}
.footer_hedding h1{
   text-align: center;
   color:rgb(18, 110, 80);
   padding: 15px 0 15px 0;
   font-size: 35px;
   text-shadow: 1px 1px 1px rgb(70, 69, 67) ;
}
.main_div{
   display: grid;
   grid-template-columns: auto auto auto auto auto;
   gap: 2rem;
   justify-content: space-evenly;
   color: rgb(70, 69, 67);
   
}
#hedding{
  font-size: 20px;
  color:#ee9b1f;
}

.main_div ul li #link{
   color: rgb(32, 32, 32);
   margin-top: 5px;
   text-decoration: none;
}
.main_div ul li{
   margin-top: 10px;
   list-style-type: none;
}
   
.social_icon ul{
   display: flex;
   justify-content: space-evenly;
  
}
.social_icon ul li{
   color:#c49c61;
}